/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}

.camera_main_container{
	margin-top: 0px;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	margin-bottom: 0px !important;
	overflow: hidden;
}
.camera_wrap img {
	max-width: none !important;
	max-width: 20000px !important;
}
.camera_fakehover {
	height: 100%;
	min-height: 40px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
	height:428px;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}


/*.camera_prev{
	background: url(../images/slider_prev_btn.png) left top no-repeat;
	width: 51px;	
	height: 52px;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: 60px;
	left: 50%;
	cursor: pointer;
	opacity: 1 !important;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	margin-left: -440px;
}

.camera_prev:hover {
	background-position: 0 bottom;	
}

.camera_next {
	background: url(../images/slider_next_btn.png) right top no-repeat;
	width: 51px;	
	height: 52px;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: 60px;
	left: 50%;
	cursor: pointer;
	opacity: 1 !important;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	margin-left: -387px;
}

.camera_next:hover {
	background-position: right bottom;	
}
*/

.caption {
	  position:absolute;
	  bottom: 231px;
	  z-index:15; 
	  /*width: 100%;*/
	  right: 50%;
	  margin-right: -514px;
	  max-width: 300px;
	  width: 300px;
	  letter-spacing: -2px;
}

.caption_bg{
	position: relative;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	
}

.caption span.slider_txt1{
	position: relative;
	display:block;
	color:#fff;
	font:56px/50px "Ubuntu Condensed", Arial, Helvetica, sans-serif ;
	/*margin-top: 44px;*/
	text-transform: uppercase;
	text-align: left;
	/*text-shadow:1px 1px #898989;*/
}
.caption span.slider_txt2{
	position: relative;
	display:block;
	color:#fff;
	font:20px/22px "Raleway", Arial, Helvetica, sans-serif ;
	margin-top: 20px;
	text-align: left;
}


.camera_wrap .camera_pag {
	width:100%;
	left: 50%;
	margin-left: 216px;
	z-index:1000;
	position:absolute; 
	height: 20px;
	bottom: 178px;
	display: inline-block;
}
.camera_wrap .camera_pag .camera_pag_ul{
	position: relative;
	display: inline-block;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	float:left;	
	margin-right: 6px;
}

.camera_wrap .camera_pag .camera_pag_ul li span {
	text-indent: -999px;
	overflow: hidden;
	cursor: pointer;
	display:block; width:14px; height:14px; background: #3e3e43;
	border-radius: 500px;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent span, .camera_wrap .camera_pag .camera_pag_ul li:hover span{
	background: #fff;
}



/*========================================================
								RESPONSIVE LAYOUTS STYLES 
=========================================================*/
@media only screen and (max-width: 1199px) {
	
}
@media only screen and (max-width: 979px) {
	.caption {
	  right: 15px;
	  margin-right: 0;
	  bottom: 70px;
	}
	.camera_wrap .camera_pag {
		left: auto;
		margin-left: 0;
		bottom: 20px;
	}
	.camera_pag_ul {float: right; margin-right: 8px !important;}
	.caption span.slider_txt1{
		font:46px/40px "Ubuntu Condensed", Arial, Helvetica, sans-serif ;
		text-align: right;
	}
}
@media only screen and (max-width: 767px) {
	.caption span.slider_txt1{
		font:26px/26px "Ubuntu Condensed", Arial, Helvetica, sans-serif ;
	}
}
@media only screen and (max-width: 479px) {
	.caption span.slider_txt1{
		display: none;
	}
	.caption span.slider_txt2{display: none;}
}
@media only screen and (max-width: 320px) {
	
}
