
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-tint:before { content: '\e801'; } /* '' */
.icon-cogs:before { content: '\e802'; } /* '' */
.icon-filter:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-gplus:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-angle-up:before { content: '\e809'; } /* '' */